<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nombrePagina %></title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Enlace a archivo CSS -->
    <!-- Agregar más recursos si es necesario -->
</head>
<body class="bg-gray-100">

    <!-- Header -->
    <header class="flex items-center justify-between p-4 bg-verde text-white">
        <!-- Logotipo con enlace a Inicio -->
        <div class="flex items-center space-x-4">
            <a href="/" class="flex items-center">
                <img src="/img/vete-removebg-preview.png" alt="Logo Veterinaria" class="logo"> <!-- Cambia la ruta por la ubicación del logo -->
               <!-- <h1 class="text-xl font-bold ml-2">CiVeDa</h1>-->
            </a>
        </div>
    </header>

    <!-- Navbar -->
    <nav class="flex flex-col lg:flex-row lg:space-x-8 p-4 text-white">
        <a href="/" class="flex items-center bg-verde hover:bg-green-800 font-medium py-2 px-4 rounded-lg transition-colors btn-shadow underline-animation">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
            </svg>
            Inicio
        </a>
        <a href="/productos" class="flex items-center bg-verde hover:bg-green-800 font-medium py-2 px-4 rounded-lg transition-colors btn-shadow underline-animation">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3a3 3 0 1 1 6 0v3h-6V3ZM4.5 9h15v12a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3V9Z" />
            </svg>
            Productos
        </a>
        <a href="/categorias" class="flex items-center bg-verde hover:bg-green-800 font-medium py-2 px-4 rounded-lg transition-colors btn-shadow underline-animation">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v3m-6 9h6M3 12h6M3 21h6m9-9h6M15 3h6m-9 6h6M15 15h6m0 6h6" />
            </svg>
            Categorías
        </a>
        <a href="/contacto" class="flex items-center bg-verde hover:bg-green-800 font-medium py-2 px-4 rounded-lg transition-colors btn-shadow underline-animation">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 21h18M3 12h18M12 3v18" />
            </svg>
            Contacto
        </a>
        <!-- Contenedor de los enlaces de sesión y registro a la derecha -->
    <div class="ml-auto flex space-x-4">
        <!-- Enlace Iniciar Sesión -->
        <a href="/iniciar-sesion" class="flex items-center bg-verde hover:bg-green-800 font-medium py-2 px-4 rounded-lg transition-colors btn-shadow underline-animation">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>
            Iniciar Sesión
        </a>

        <!-- Enlace Registrarse -->
        <a href="/crear-cuenta" class="flex items-center bg-verde hover:bg-green-800 font-medium py-2 px-4 rounded-lg transition-colors btn-shadow underline-animation">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
            </svg>
            Registrarse
        </a>
    </div>
    </nav>

    <!-- Contenido Principal -->
    <main class="p-4">
        <%- body %>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Mi Veterinaria - Todos los derechos reservados.</p>
    </footer>


    <!-- Agregar más scripts si es necesario -->
<script src="/js/main.js"></script>
<script>
    // Función para mostrar/ocultar el menú en pantallas pequeñas
    document.getElementById('menu-toggle').addEventListener('click', () => {
        const menu = document.getElementById('menu');
        menu.classList.toggle('hidden');
    });
</script>
</body>
</html>
